.logo {
  color: $logo-web-color;
  font-family: "Raleway";
  padding-top: 24px;
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
}
.logo__web {
  color: $accent-color;
}

.footer__logo-studio {
  color: $main-background-color;
}
