.clients {
  background-color: $main-background-color;
}
.clients-list {
  @media screen and (min-width: 1140px) {
    display: flex;
    flex-wrap: nowrap;
  }
}

// .clients-list__item + .clients-list__item {
//   @media screen and (min-width: 1140px) {
//     margin-left: 30px;
//   }
// }
.clients-list__item {
  @media screen and (min-width: 1140px) {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      border-color: $accent-color;
    }

    &:hover .clients-list__icon {
      fill: $accent-color;
    }
  }
}

.clients-list__icon {
  fill: $icon-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
