@media screen and (min-width: 1140px) {
  .page-header {
  background-color: $main-background-color;
  border-bottom: 1px solid #ececec;
}

.page-header {
  .container {
    display: flex;

    align-items: center;
  }
}

}