.features {
  background-color: $main-background-color;
}
.features-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.features-list__item {
  & + & {
    margin-top: 30px;

    @media screen and (min-width: 768px) {
      margin-top: 15px;
    }
  }

  @media screen and (min-width: 480px) {
    width: 270px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    margin: 0;

    & + & {
      margin-left: 30px;
      margin-top: 0;
    }
  }
}

.features-list__title {
  color: $title-text-color;
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  min-width: 270px;
  margin-left: 0;
  margin-right: 0;

  @media screen and (min-width: 480px) {
    text-align: center;
    width: 450px;

    // margin-left: 90px;
    // margin-right: 90px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    text-align: start;
    margin-left: 0;
    margin-right: 0;
  }
}

.features-list__paragraph {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 10px;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.features-list__background {
  display: flex;
  width: 300pxq;
  height: 120px;
  left: 15px;
  top: 520px;

  background: $staff-background-color;
  border-radius: 4px;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
