.footer-form {
  margin-left: auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 12px;
    margin: 0;
    margin-left: 93px;
  }
}

.footer-form-field {
  display: flex;
  flex-direction: column;

  @media screen and(min-width: 1200px) {
    display: flex;
  }
}

.footer-form__label {
  color: $main-background-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  // margin-left: 115px;
  // margin-right: 115px;
  text-align: center;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    text-align: center;
    // margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    color: $main-background-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    text-align: start;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.footer-form__input {
  width: 250px;
  background-color: $hero-footer-background-color;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: $main-background-color;
  margin-top: 20px;

  &::placeholder {
    color: $contacts-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    background-color: $hero-footer-background-color;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: $main-background-color;

    &::placeholder {
      color: $contacts-text-color;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.03em;
    }
  }
}

.mail-field-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }
}

.send-icon {
  fill: $main-background-color;
  margin-left: 10px;
}
