$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$contacts-text-color: rgba(255, 255, 255, 0.6);
$main-background-color: #ffffff;
$hero-footer-background-color: #2f303a;
$staff-background-color: #f5f4fa;
$logo-web-color: #000000;
$icon-color: #afb1b8;
$accent-overlay: rgba(33, 150, 243, 0.9);
$image-overlay: rgba(47, 48, 58, 0.8);
$button-hover: #188ce8;
$placeholder-text-color: rgba(117, 117, 117, 0.5);

@font-face {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
}
